#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.

Some of the popular languages that Data Scientists use are:
1. Python
2. C/C++
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch
9. PyBrain
10. Chainer

**Data Science Tools:**

| Data Science Tools | 
| --- | 
| Anaconda | 
| R Studio	 | 
| Spyder | 
| Zeppelin | 
| Jupyter Notebooks	 | 
| BigML	 | 
| Apache Spark |

###Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#Create a code cell to multiply and add numbers
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5
# Result: 17

17

In [ ]:
#Create a code cell to convert minutes to hours
#This will convert 200 minutes to hours by diving by 60
day = 0
hour = 0
min = 0

time = 200
#day = time / 1440
leftover_minutes = time % 1440
hour = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(day) + " days, " + str(hour) + " hours, " + str(min) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

**Objectives:**
1. Create markdown cells
2. Add comments to code cell
3. Format the content of markdown cells with heading styles
4. Add comments to cell

##Author:
Muhammad Faizan Rehman Qureshi